aside {    
    padding: 30px;  
    padding-left: 0;  
    /* background-color: #EAF4FF;  */
    background-color: #fff;    
   
}

.logo {
    margin-left: 60px;
    margin-top: 20px;
    width: 120px;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.nav-list-1 {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 50px;
}

.pitch {
    width: 170px;
}

.nav-list-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    margin-left: 80px;
}



.link {
    font-size: 17px;
    padding: 30px;
    text-decoration: none;
    color: black;    
}

.active {
    color: #6F62AE;
}

.nav-icons-1 {
    width: 25px;
    position: absolute;
    top: 28px;
    left: -14px;
}

.nav-icons-2 {
    width: 25px;
    position: absolute;
    top: 107px;
    left: -14px;
}

.nav-icons-3 {
    width: 27px;
    position: absolute;
    top: 190px;
    left: -14px;
}

.nav-icons-4 {
    width: 25px;
    position: absolute;
    top: 267px;
    left: -14px;
}

.nav-icons-5 {
    width: 25px;
    position: absolute;
    top: 347px;
    left: -14px;
}

.upgrade {
    width: 150px;
    margin-left: 60px;
    margin-top: 30px;
}